---
layout: default
---

<h3>{{title}}</h3>

{{ content }}

<p>
<b>Published:</b> {% dateFormat published %}<br/>
{% if author %}
<b>Author:</b> {{ author }}<br/>
{% endif %}
{% if moreinfo %}
<b>More Information:</b> <a href="{{moreinfo}}">{{moreinfo}}</a><br/>
{% endif %}
{% if sourceurl %}
<b>Source:</b> <a href="{{sourceurl}}">{{sourceurl}}</a><br/>
{% endif %}
{% if tags %}
<b>Tags:</b>
	{% for tag in tags %}
	<a href="/tag/{{tag | cgi_escape}}"><span class="label label-info">{{tag}}</span></a>
	{% endfor %}
{% endif %}
</p>

<div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'javascriptcookbook'; // required: replace example with your forum shortname
		var disqus_url = 'http://www.javascriptcookbook.com/article/{{sesURL}}';
		var disqus_identifer = '{{id}}';
		
        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
<a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    
