<!doctype html>
<html lang="en">
    <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="/css/app.css" type="text/css" />
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/prism.js"></script>
    <link rel="stylesheet" href="/css/prism.css" />
    <link rel="alternate" type="application/rss+xml" title="RSS" href="https://www.javascriptcookbook.com/rss" />
    </head>
    
    <body>

    <main role="main" class="container">

      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/">JavaScript Cookbook</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item{% if page.url == '/' %} active{% endif %}">
              <a class="nav-link" href="/">Home {% if page.url == '/' %}<span class="sr-only">(current)</span>{% endif %}</a>
            </li>
            <li class="nav-item{% if page.url == '/all/' %} active{% endif %}">
              <a class="nav-link" href="/all/">All {% if page.url == '/all/' %}<span class="sr-only">(current)</span>{% endif %}</a>
            </li>
            <li class="nav-item{% if page.url == '/submit/' %} active{% endif %}">
              <a class="nav-link" href="/submit/">Submit {% if page.url == '/submit/' %}<span class="sr-only">(current)</span>{% endif %}</a>
            </li>
            <li class="nav-item{% if page.url == '/about/' %} active{% endif %}">
              <a class="nav-link" href="/about/">About {% if page.url == '/about/' %}<span class="sr-only">(current)</span>{% endif %}</a>
            </li>
          </ul>
          <form class="form-inline my-2 my-lg-0" action="/search/" method="get">
            <input class="form-control mr-sm-2" type="search" name="search" placeholder="Search" aria-label="Search">
          </form>
        </div>
      </nav>

      <div class="container">
      {{content}} 
      </div>
    </main>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-70863-21', 'javascriptcookbook.com');
      ga('send', 'pageview');

    </script>
    {% if page.url == '/search/' %}
    <script src="https://unpkg.com/lunr/lunr.js"></script>
    <!-- todo, load on search only -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="/js/app.js"></script>
    {% endif %}
	</body>
</html>
